.header__menu-item_hover  {
    position: relative;
    color: white;
    list-style-type: none;
    transition: opacity .5s ease-in-out;
    text-decoration: none;
}
.header__menu-item_hover:before {
    content: '';
    position: absolute;
    display: block;
    bottom: -15px;
    left: 15px;
    width: 30%;
    border-radius: 15px;
    border-bottom: 3px solid #7474DD;
}