.message__form-button {
    width: 270px;
    height: 60px;
    border-radius: 20px;
    background-color: #CAC9DC;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
}

.message__form-button:hover {
    background-color: #5353C9;
}


