.check-in__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 30px 40px;
    box-sizing: border-box;
    max-width: 570px;
}


@media screen and (max-width: 1024px) {
    .check-in__cards {
        grid-template-columns: 1fr;
    }
  }