.message__menu-item {
    height: 69px;
    width: 214px;
    border-radius: 40px;
    padding: 0;
    border:3px solid #7474DD;
    background: rgba(0,0,0,0);
    cursor: pointer;
     
}


.message__menu-item:hover {
    background-color: #7474DD;
}
