.message__buttons {
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-gap: 30px;
    padding-left: 30px;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .message__buttons {
        grid-template-columns: 270px 270px;    }
}